@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background: #191919;
  font-family: "Anonymous Pro", monospace;
  color: #888;
  overflow-x: hide;
  overflow-y: auto;
}

:root {
  --font-size: 15px;
  --chapter-font: 21px;
  --font-size-mobile: 16px;
}

::selection {
  background-color: yellow;
  color: black;
}

.terminal:first-child {
  margin-top: 20px;
}

.terminal > p {
  padding-left: 5px;
  color: #888;
  font-size: var(--font-size);
  padding-top: 3px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.terminal > p > span {
  color: #fa615c;
  font-weight: bold;
}

.chapter {
  font-size: var(--chapter-font) !important;
}

.bash-command {
  font-size: var(--font-size);
  margin-top: 3px;
}

.bash-command > label {
  color: green;
  padding-left: 5px;
  font-size: var(--font-size);
}

input {
  width: 75%;
  background: none;
  outline: none;
  border: none;
  color: #999;
  letter-spacing: 1px;
  font-size: var(--font-size);
  padding-top: 3px;
  padding-bottom: 2px;
  caret-color: transparent;
  color: #888;
  font-family: "Anonymous Pro", monospace;
}

@media screen and (max-width: 750px) {
  .terminal > p {
    margin-top: 3px;
    font-size: var(--font-size-mobile);
  }

  input {
    font-size: var(--font-size-mobile);
  }

  .bash-command > label {
    font-size: var(--font-size-mobile);
  }
}
